* {
  padding: 0;
  margin: 0;
  border: 0;
}

.app-wrapper {
  width: 1920px;
  min-height: 1080px;
  margin: 0 auto;
  background-color: whitesmoke;
  
  display: grid;
  grid-template-areas:
  "head head"
  "navigation content";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
}